<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>update your grade</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</head>

<body class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url "home" %}">Hello</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="{% url "update1"%}"> Semester1<span class="sr-only">(current)</span></a>
              <a class="nav-link" href="{% url "update2"%}">Semester2</a>
              <a class="nav-link" href="{% url "update3"%}">Semester3</a>
              <a class="nav-link" href="{% url "update4"%}">Semester4</a>
              <a class="nav-link" href="{% url "update5"%}">Semester5</a>
              <a class="nav-link" href="{% url "update6"%}">Semester6</a>
              <a class="nav-link" href="{% url "update7"%}">Semester7</a>
              <a class="nav-link" href="{% url "update8"%}">Semester8</a>
              <a class="nav-link"  href="{% url "logout"%}">logout</a>
              
              
            </div>
          </div>
        </nav>

    <form method="post" action="" id="form">
        {% csrf_token %}    
        {% block body %}
            
        {% endblock %}
            <center>
                <button type="submit" class="btn btn-dark">Submit</button>
            </center>
    </form>
</body>
</html>